body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f0f0f0;
}

.title {
    margine-bottom: 20px;
    font-size: 2rem;
    font-weight: bold;
}

.login-container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.form-group {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: calc(100% - 22px); /* Adjusts input width considering padding and border */
}

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.gsi-material-button {
    display: inline-flex;
    align-items: center;
    background-color: #fff;
    color: #757575;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
    border: none;
    border-radius: 4px;
    padding: 0;
    cursor: pointer;
    height: 40px;
    min-width: 240px;
    font-family: 'Roboto', sans-serif;
}

.gsi-material-button:hover,
.gsi-material-button:focus {
    box-shadow: 0 0 3px 3px rgba(66,133,244,.3);
}

.gsi-material-button:active {
    background-color: #eee;
}

.gsi-material-button-content-wrapper {
    display: flex;
    align-items: center;
    padding: 0 24px;
    margin: 0;
    width: 100%;
}

.gsi-material-button-icon {
    display: flex;
    align-items: center;
    margin-right: 24px;
}

.gsi-material-button-contents {
    text-transform: uppercase;
    letter-spacing: .25px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
